<% if flash[:notice] %>
    <div class="notice"><%= flash[:notice] %></div>
<% end %>

<h1>Math Racer</h1>
<% if session[:user_id].blank? %>
	<%= link_to 'Login', action: "login" %>
	<%= link_to 'Register', controller: "users", action: "new" %>
	<%= link_to 'Play', action: "play" %>
<% elsif session[:user_id].present?%>
	<%= link_to 'Edit Profile', edit_user_path(session[:user_id]) %>
	<%= link_to 'Play', action: "play" %>
	<%= link_to 'Logout', action: "logout" %>
<% end %>
