<h1>Math Racer</h1>

<%= link_to 'Users', users_path %>
<%= link_to 'Games', games_path %>
<% if isLoggedOut %>
	<%= link_to 'Login', controller: "users", action: "login" %>
	<%= link_to 'Register', controller: "users", action: "new" %>
<% else %>
	<%= link_to 'Edit Profile', edit_user_path(session[:user_id]) %>
	<%= link_to 'Play', games_path %>
	<%= link_to 'Logout', controller: "users", action: "logout" %>
<% end %>
