<h1>Race Page</h1>
<% if authenticate_user %>
	<p>Current games:</p>
	<% @opengames.each do |game| %>
	<p>Game: <%= game.gameid %> User1: <%= game.user1 %> User2: <%= game.user2%>
		<%= button_to 'Join Game', :action => :join, :id => game.id %> </p>
	<%end%>
	<p>Pending games:</p>
	<% @pending_games.each do |game| %>
	<p>Game: <%= game.gameid %> User1: <%= game.user1 %> User2: <%= game.user2%> </p>
	<% end %>
<% else %>
<P>Please log in to play.</P>
<%end%>
<br>
<%= link_to 'New Game', new_game_path %> | 
<%= link_to 'Back', pages_path %>


